* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  gap: 10px;
}
h4 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.color-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.color-input {
  margin-right: -1px;
  width: 30px;
  height: 35px;
  border: none;
  padding: 0;
}
.color-input-type-box {
  width: 200px;
  height: 25px;
  padding: 0;
}
.btn {
  width: 200px;
  color: white;
  background-color: #260bd4;
  margin-left: 10px;
  padding: 2px;
  font-size: 1rem;
  letter-spacing: 2px;
}

/* ## ===============colors boxes==================================== */
.colors {
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}
.color {
  width: 25vw;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}
.color-light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

@media screen and (min-width: 480px) and (max-width: 940px) {
  .colors {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
  .color {
    width: 33.4vw;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
  }
  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .color-input {
    margin-right: -1px;
    width: 30px;
    height: 35px;
    border: none;
    padding: 0;
  }
  .btn {
    width: 100px;
    color: white;
    background-color: #260bd4;
    margin-left: 10px;
    padding: 2px;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
